:root {
    /* Primary Colours */
    --primary-100: hsl(1 90% 64%);
    --primary-200: hsl(219 85% 26%);

    /* Neutral Colours */
    --neutral-100: hsl(0 0% 100%);
    --neutral-200: hsl(210 60% 98%);
    --neutral-300: hsl(211 68% 94%);
    --neutral-400: hsl(205 33% 90%);
    --neutral-500: hsl(219 14% 63%);
    --neutral-600: hsl(219 12% 42%);
    --neutral-700: hsl(224 21% 14%);

    /* Typography */
    --fw-100: 500;
    --fw-200: 800;

    font-size: 16px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: local('Plus Jakarta Sans'),
    url(../assets/fonts/static/PlusJakartaSans-ExtraBold.ttf) format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: local('Plus Jakarta Sans'),
    url(../assets/fonts/static/PlusJakartaSans-Medium.ttf) format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: local('Plus Jakarta Sans'),
    url(../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf) format("truetype");
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

body {
    min-height: 100vh;

    width: 100vw;
    height: 100vh;

    width: 100dvw;
    height: 100dvh;
}

h1,
span.profile-name {
    text-transform: capitalize;
}

button,
a,
.profile-name,
figure,
img,
.notification-fancy[visualized = "false"] {
    cursor: pointer;
}

figure > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.attribution { margin-top: 1rem;font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Mobile - 375px */ 

/*Only for Webkit Browsers*/
:root::-webkit-scrollbar {
    width: 0;
}

main {
    width: clamp(300px, 100%, 600px);
}

.notifications-header {
    display: flex;
    justify-content: space-between;

    width: auto;
    padding: 1rem;
    margin-top: 1rem;
}

.notifications-header .title-wrapper {
    display: inherit;

    gap: 0 10px;
}

.title-wrapper .notifications-display {
    display: grid;
    place-items: center;

    width: 1.5rem;
    aspect-ratio: 16/9;

    font-size: .8rem;

    background: var(--primary-200);
    color: var(--neutral-100);
    border-radius: 5px;
}

.title-wrapper > * {
    font-weight: var(--fw-200);
}

.notifications-clear {
    background: #0000;
    border: 0;

    font-size: .9rem;
    font-weight: var(--fw-100);
}

.notifications-wrapper {
    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 10px 0;

    width: auto;
    padding: 1rem;
}

.notifications-wrapper .notification-fancy {
    display: flex;

    gap: 0 1rem;
    width: 100%;

    padding: 1rem;
}

.notification-fancy[visualized="false"] {
    background: var(--neutral-200);
    border-radius: 10px;
}

.notification-fancy .profile-pic {
    width: 3rem;
    aspect-ratio: 1;
}

.notification-fancy .notification-description {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: calc(100% - 3rem);
}

.description-details {
    width: 100%;
}

.profile-name {
    font-size: .9rem;
    font-weight: var(--fw-200);
}

h4 {
    font-size: .8rem;
    font-weight: var(--fw-100);
}

.optional-link a {
    text-decoration: none;
    font-weight: var(--fw-200);
}

.link-secondary a {
    color: var(--neutral-600);
}

.link-primary a {
    color: var(--primary-200);
}

.date {
    font-size: .8rem;
    font-weight: var(--fw-100);
    color: var(--neutral-500);    
}

.notification {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.notification .notification-message {
    align-self: flex-end;

    width: calc(100% - 5rem);
    padding: 1rem;
    
    border: 1px solid var(--neutral-400);
    border-radius: 5px;

    font-size: .85rem;
    transition: all .3s;
}

 .notification-fancy[visualized="false"] .notification-description h4::after {
    content: "";
    display: inline-block;
    width: 10px;
    aspect-ratio: 1;
    background: var(--primary-100);
    border-radius: 50%;
    margin-left: 10px;
}

.commented-img {
    justify-self: end;
    width: auto;
}

.notification-fancy:has(.commented-img) .notification-description {
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 0 10px;
}

.notification-message:hover {
    background: var(--neutral-300);
    cursor: pointer;
}
/* Desktop - 1440px */
@media screen and (width >= 600px) {
    body {
        padding-top: 2rem;
        background: var(--neutral-200);
    }

    main {
        width: clamp(375px, 50%, 1000px);

        margin: auto;
        background: var(--neutral-100);
        border-radius: 15px;
    }
}
